$background: #f9f9f9;
$header-background: white;
$main-website-blue: #306ACC;
$color-black: #000;
$button-blue: #0A64CB;
$gray: #C4C4C4;
$font-std: 1.6rem;
$font-med: 2rem;
$card-background: #ffffff;
$off-white:  #f5f5f5;
$cart-background: lightyellow;
$footer-background: #9b9b9b;
